<div class="flex items-center gap-2 mb-2">
    <input pInputText type="text" placeholder="Filter by name..." [(ngModel)]="filter"/>
  </div>

  <p-table
    [value]="filtered()"
    [paginator]="true" [rows]="10"
    sortMode="multiple"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">User <p-sortIcon field="name"/></th>
        <th pSortableColumn="week">Week # <p-sortIcon field="week"/></th>
        <th *ngFor="let day of days; let i = index" [pTooltip]="dateTips[i]" tooltipPosition="top">
          {{ day }} <i class="pi pi-info-circle text-xs"></i>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.week }}</td>
        <td *ngFor="let _ of days; let i = index">
          <p-checkbox [(ngModel)]="row.days[i]" binary="true" (ngModelChange)="save(row)"></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>