:host ::ng-deep .p-menubar {
  border: none;
  background-color: var(--surface-section);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

button.p-button-text i {
  color: var(--text-color);
}
